@import "tailwindcss";

body {
  margin: 0;
  background: #f7f4ed;
  font-family: "Noto Sans Thai", sans-serif;
  color: #4d4032;
  font-size: 14px;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}
:root{
  --bg:#f7f3eb;
  --card:#fcfaf6;
  --border:#e6dfd0;

  --green:#bfc8a8;
  --green-dark:#7c8b62;

  --brown:#7a6248;

  --text:#4d4032;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  font-size: 14px;
}

input {
  font-size: 14px;
}